$color-base:#00c16f;
$green: #4B9E65;
$color-border:$green;
$border-base:1px solid $color-border;

.green{
    background-color: $green;
  }
  
.green-lighten{
    background-color: lighten($green,20%);
  }
  
.green-darken{
    background-color: darken($green,20%);
  }
  
.green-saturate{
    background-color: saturate($green,20%);
  }
  
.green-desaturate{
    background-color: desaturate($green,20%);
  }

.aaa{
    $c:center;
    border:$border-base;
}

.bbb{
    @extend .aaa;
    font-size: 12px;
}